@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    /* This defines what 1rem should be */
    // font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
    // font-weight: 400;
    // line-height: 1.7;
    // color: gray;
    // padding: 3rem;
    box-sizing: border-box;
}


$color-primary: #F5444F;
$color-secondary: #ffffff;
$color-tertiary: #CBF7F0;
$color-footer: #1B1B1B;

/* Desktop and Laptop View */
@media (min-width: 768px) {

    .home {
        background-image: url("../images/back.png");
        background-repeat: no-repeat;
        background-size: cover;

        .navigation {
            display: flex;

            .icon {
                display: none;
            }

            &__logo {
                margin-top: 1.2rem;
                width: 85%;
                margin-left: 4rem;
            }

            &__list {
                margin-top: 3.5rem;
                margin-left: 23rem;
                display: flex;
                justify-content: space-between;
            }

            &__item {
                list-style: none;
            }

            &__link {
                &:link,
                &:visited {
                    text-decoration: none;
                    padding-left: 2rem;
                    color: $color-primary;
                }
            }
        }

        .banner {
            display: flex;

            &__content {
                margin-top: 8rem;
                margin-left: 8rem;

                &--heading {
                    margin-top: 1rem;
                    font-size: 3rem;
                    font-weight: 700;
                    color: $color-primary;
                }

                &--text {
                    margin-top: 2rem;
                    font-size: 1.3rem;
                }

                &--buttons {
                    margin-top: 4rem;

                    &-link {
                        text-decoration: none;
                    }

                    &-image {
                        max-width: 45%;
                    }

                    &-image:last-child {
                        padding-right: 1.3rem;
                    }
                }
            }

            &__logo {
                position: relative;
                right: 1.8rem;
                margin-top: 5rem;
                margin-right: 8rem;

                &--logo {
                    max-width: 90%;
                    padding-bottom: 9rem;
                }
            }
        }
    }


    .policy {
        margin-top: 3rem;
        margin-left: 8rem;
        // margin-bottom: 6rem;

        &__heading {
            font-size: 3.5rem;
        }

        &__description {
            margin-top: 2rem;
            margin-right: 8rem;

            &--text {
                line-height: 1.7rem;

                span {
                    color: $color-primary;
                    text-decoration: underline;
                }
            }
        }
    }



    .footer {
        position: relative;
        bottom: -5rem;
        margin: 0 !important;
        background-color: $color-footer;
        display: flex;

        &__logo {
            margin-top: 5rem;
            margin-bottom: 7rem;
            margin-left: 8rem;

            &--logo {
                max-width: 50%;
                margin-bottom: 2rem;
            }

            &--copyright {
                color: $color-secondary;
                opacity: 0.5;
                line-height: 3;
            }

            &--terms {
                color: $color-secondary;
                opacity: 0.5;
                // font-style: .8rem;
            }
        }

        &__company {
            margin-top: 6.5rem;
            margin-left: 3rem;

            &--company {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--link {
                text-decoration: none;
            }

            &--text {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

        }

        &__intouch {
            margin-top: 6.5rem;
            margin-left: 10rem;

            &--heading {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--enquiry {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

            &--email {
                color: $color-secondary;
                margin-bottom: 2rem;
            }

            &--socials {

                & > a {
                    text-decoration: none;
                }

                &-image {
                    max-width: 15%;
                }

                &-twitter {
                    margin-left: 1rem;
                }

                &-instagram {
                    margin-left: 1rem;
                }
            }
        }
    }
}


/* Mobile View */

@media (min-width: 320px) and (max-width: 667px) {
    .home {
        background-image: url("../images/back.png");
        background-repeat: no-repeat;
        background-size: cover;

        .navigation {
            display: flex;
            flex-direction: column;

            .icon {
                color: $color-primary;
                position: absolute;
                display: block;
                left: 21rem;
                top: 2rem;
            }

            &__logo {
                max-width: 40%;
                margin-top: .8rem;
                margin-left: 1rem;
            }

            &__list {
                background-color: $color-primary;
                display: none;
            }

            &__item {
                list-style: none;
                padding-top: 1rem;
            }

            &__item:last-child {
                padding-bottom: 1rem;
            }

            &__link {
                &:link,
                &:visited {
                    text-decoration: none;
                    padding-left: 2rem;
                    color: $color-secondary;
                }
            }
        }

        .banner {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 4rem;
                // margin-left: 8rem;

                &--policy {
                    margin-left: 7.5rem;
                }

                &--heading {
                    text-align: center;
                    margin-top: 1rem;
                    font-size: 3rem;
                    font-weight: 700;
                    color: $color-primary;
                }

                &--text {
                    text-align: center;
                    padding: 0 3.38rem;
                    margin-top: 2rem;
                    font-size: 1.3rem;
                }

                &--buttons {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    

                    &-link {
                        text-decoration: none;
                    }

                    &-image:last-child {
                        padding-top: 1rem;
                    }
                }
            }

            &__logo {
                position: relative;
                right: -7rem;
                margin-top: 1rem;
                // margin-right: 8rem;

                &--logo {
                    max-width: 70%;
                    // padding-bottom: 9rem;
                }
            }
        }
    }


    .policy {
        text-align: center;
        margin-top: 3rem;
        // margin-left: 8rem;
        // margin-bottom: 6rem;

        &__heading {
            font-size: 3.5rem;
        }

        &__description {
            padding: 0 1.5rem;
            margin-top: 2rem;
            // margin-right: 8rem;

            &--text {
                line-height: 1.7rem;
                overflow-wrap: break-word;


                span:last-child {
                    color: $color-primary;
                    text-decoration: underline;
                }
            }
        }
    }



    .footer {
        background-color: $color-footer;
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        margin-top: 7rem;

        &__logo {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 3rem;

            &--logo {
                max-width: 50%;
                // margin-bottom: 2rem;
            }

            &--copyright {
                color: $color-secondary;
                opacity: 0.5;
                line-height: 3;
            }

            &--terms {
                color: $color-secondary;
                opacity: 0.5;
                // font-style: .8rem;
            }
        }

        &__company {
            text-align: center;
            // margin-top: 16.5rem;
            // margin-left: 3rem;

            &--company {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--link {
                text-decoration: none;
            }

            &--text {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

        }

        &__intouch {
            text-align: center;
            margin-top: 1rem;
            // margin-left: 10rem;

            &--heading {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--enquiry {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

            &--email {
                color: $color-secondary;
                margin-bottom: 2rem;
            }

            &--socials {

                & > a {
                    text-decoration: none;
                }

                &-image {
                    max-width: 15%;
                }

                &-twitter {
                    margin-left: 1rem;
                }

                &-instagram {
                    margin-left: 1rem;
                }
            }
        }
    }
}