@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    /* This defines what 1rem should be */
    // font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
    // font-weight: 400;
    // line-height: 1.7;
    // color: gray;
    // padding: 3rem;
    box-sizing: border-box;
}


$color-primary: #F5444F;
$color-secondary: #ffffff;
$color-tertiary: #CBF7F0;
$color-footer: #1B1B1B;


/* Desktop and Laptop View */
@media (min-width: 768px) {

    .home {

        .navigation {
            display: flex;
            position: relative;

            .icon {
                color: $color-secondary;
                display: none;
            }

            &__image {
                max-width: 100%;
                position: absolute;
                left: 29.6rem;
                z-index: -1;
            }
        

            &__logo {
                margin-top: .5rem;
                // max-width: 20%;
                margin-left: 4rem;
            }

            &__list {
                margin-top: 3.5rem;
                margin-left: 27.9rem;
                display: flex;
                justify-content: space-between;
            }

            &__item {
                list-style: none;
            }

            &__link {
                &:link,
                &:visited {
                    text-decoration: none;
                    padding-left: 2rem;
                    color: $color-primary;
                }
            }
        }

        .banner {
            margin-top: 2rem;

            &__image {
                position: relative;
                max-width: 100%;
            }

            &__button {
                cursor: pointer;
                position: absolute;
                right: 33.7rem;
                bottom: 4rem;
            }
        }
    }

    .team {


        &__member {
            display: flex;
            margin-left: 5rem;


            &--image {
                max-width: 50%;
                padding-right: 4rem;
            }


            &--content {
                margin-left: 1rem;
                margin-top: 6.5rem;
                margin-right: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }
            }
        }


        &__member {
            display: flex;
            margin-left: 5rem;


            
            &--terry {
                margin-top: 9rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }

                &-image {
                    margin-top: 3rem;
                    width: 50%;
                    margin-right: 3rem;
                    padding-left: 4rem;
                }

            }

        }

        &__mission {
            margin-top: 5rem;

            &--image {
                max-width: 100%;
                position: relative;
            }

            &--content {
                position: relative;
                top: -20rem;
                // left: 35rem;

                &-text {
                    margin-top: -1rem;
                    text-align: center;
                    line-height: 2;
                    font-size: 1.5rem;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 700;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-description {
                    margin-top: 1rem;
                    color: $color-secondary;
                    text-align: center;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }
        }

        &__alcy {
            display: flex;
            margin-left: 5rem;
            margin-top: -6rem;

            &--image {
                max-width: 50%;
                padding-right: 3rem;
            }


            &--content {
                margin-left: 1rem;
                margin-top: 6.5rem;
                margin-right: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }
            }
        }

        
        &__member {
            display: flex;
            margin-left: 5rem;


            
            &--erin {
                margin-top: 11rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;

                    span {
                        font-style: italic;
                    }
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }

                &-image {
                    margin-top: 6rem;
                    width: 50%;
                    margin-right: 3rem;
                    padding-left: 4rem;
                }

            }

        }

        
        &__deborah {
            display: flex;
            margin-left: 5rem;
            margin-top: 6rem;

            &--image {
                width: 50%;
                // max-width: ;
                padding-right: 4.5rem;
            }


            &--content {
                // margin-left: 1rem;
                margin-top: 6.5rem;
                margin-right: 5rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }
            }
        }

        &__philosophy {
            margin-top: 4rem;
            margin-bottom: -75rem;

            &--image {
                position: relative;
                max-width: 100%;
            }

            &--content {
                position: relative;
                bottom: 23rem;
                margin-left: 26rem;

                &-heading {
                    margin-left: -1rem;
                    color: $color-secondary;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 3;
                }

                &-list {

                    &--item {
                        color: $color-secondary;
                        font-size: 1.1rem;
                        font-family: 'Source Sans Pro', sans-serif;
                    }
                }
            }


        }

    }

    .box {
        background-color: $color-primary;
        display: flex;
        margin-left: 5rem;
        margin-right: 5rem;
        border-radius: 2rem;
        height: 23rem;
        position: relative;
        z-index: 1;
        top: 60rem;

        &__image {
            margin-top: 4rem;
            margin-left: 10rem;

            &--image {
                max-width: 65%;
            }
        }

        &__content {
            margin-top: 4rem;
            margin-right: 7rem;

            &--heading {
                color: $color-secondary;
                font-size: 1.7rem;
            }

            &--text {
                color: $color-secondary;
                margin-top: 2rem;
                line-height: 2;
            }

            &--button {
                display: flex;
                margin-right: 2rem;
                margin-top: 3rem;

                &--image {
                    max-width: 60%;
                }
            }

            &--link:last-child {
                margin-left: -5rem;
            }
        }
    }


    .footer {
        position: relative;
        bottom: -48rem;
        margin: 0 !important;
        background-color: $color-footer;
        display: flex;

        &__logo {
            margin-top: 13rem;
            margin-bottom: 7rem;
            margin-left: 8rem;

            &--logo {
                max-width: 50%;
                margin-bottom: 2rem;
            }

            &--copyright {
                color: $color-secondary;
                opacity: 0.5;
                line-height: 3;
            }

            &--terms {
                color: $color-secondary;
                opacity: 0.5;
                // font-style: .8rem;
            }
        }

        &__company {
            margin-top: 15rem;
            margin-left: 3rem;

            &--company {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--link {
                text-decoration: none;
            }

            &--text {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

        }

        &__intouch {
            margin-top: 15rem;
            margin-left: 10rem;

            &--heading {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--enquiry {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

            &--email {
                color: $color-secondary;
                margin-bottom: 2rem;
            }

            &--socials {

                & > a {
                    text-decoration: none;
                }

                &-image {
                    max-width: 15%;
                }

                &-twitter {
                    margin-left: 1rem;
                }

                &-instagram {
                    margin-left: 1rem;
                }
            }
        }
    }
}



/* Mobile View */
@media (min-width: 320px) and (max-width: 667px) {

    .home {

        .navigation {
            display: flex;
            flex-direction: column;

            .icon {
                color: $color-primary;
                position: absolute;
                display: block;
                left: 21rem;
                top: 2rem;
            }

            // &__image {
            //     max-width: 100%;
            //     position: absolute;
            //     left: 29.6rem;
            //     z-index: -1;
            // }
        

            &__logo {
                max-width: 40%;
                margin-top: .8rem;
                margin-left: 1rem;
            }

            &__list {
                background-color: $color-primary;
                display: none;
            }

            &__item {
                list-style: none;
                padding-top: 1rem;
            }

            &__item:last-child {
                padding-bottom: 1rem;
            }

            &__link {
                &:link,
                &:visited {
                    text-decoration: none;
                    padding-left: 2rem;
                    color: $color-secondary;
                }
            }
        }

        .banner {
            margin-top: 2rem;

            &__image {
                position: relative;
                max-width: 100%;
            }

            &__button {
                max-width: 20%;
                cursor: pointer;
                position: relative;
                top: -3rem;
                right: -10rem;
            }
        }
    }

    .team {

        .dana {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 1rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid grey;
        }

        .terry {
            margin: 0 auto;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            padding: 2rem 1rem;
            border-bottom: 1px solid grey;
        }

        &__member {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            // margin-left: 5rem;


            &--image {
                width: 100%;
            }


            &--content {
                // margin-left: 1rem;
                margin-top: 2rem;
                // margin-right: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }
            }
        }


        &__member {
            display: flex;
            flex-direction: column-reverse;
            // margin-left: 5rem;


            
            &--terry {
                margin-top: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                }

                &-image {
                    // margin-top: 3rem;
                    width: 100%;
                    // margin-right: 3rem;
                    // padding-left: 4rem;
                }

            }

        }

        &__mission {
            margin-top: 3rem;

            &--image {
                width: 100%;
                position: relative;
            }

            &--content {
                position: relative;
                top: -7rem;
                // left: 35rem;

                &-text {
                    margin-top: -1rem;
                    text-align: center;
                    line-height: 2;
                    font-size: .7rem;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 700;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-description {
                    margin-top: 1rem;
                    color: $color-secondary;
                    text-align: center;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: .8rem;
                    font-weight: 400;
                }
            }
        }

        &__alcy {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2rem 1rem;
            border-bottom: 1px solid grey;
            // margin-left: 5rem;
            margin-top: -5rem;

            &--image {
                width: 100%;
                // padding-right: 3rem;
            }


            &--content {
                // margin-left: 1rem;
                margin-top: 2rem;
                // margin-right: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;

                    br {
                        display: none;
                    }
                }

                &-button {
                    margin-top: 1.2rem;
                    margin-bottom: 1.5rem;
                    cursor: pointer;
                }
            }
        }

        .erin {
            margin-top: 1.5rem;
        }
        
        &__member {
            margin: 0 auto;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            padding: 2rem 1rem;
            border-bottom: 1px solid grey;


            
            &--erin {
                margin-top: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;

                    br {
                        display: none;
                    }

                    span {
                        font-style: italic;
                    }
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                }

                &-image {
                    width: 100%;
                }

            }

        }

        .deborah {
            margin-top: 1.5rem;
        }
        
        &__deborah {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2rem 1rem;
            border-bottom: 1px solid grey;

            &--image {
                width: 100%;

            }


            &--content {
                // margin-left: 1rem;
                margin-top: 2rem;


                &-meet {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $color-primary;
                    text-transform: uppercase;
                }

                &-name {
                    font-family: 'Libre Baskerville', serif;
                    color: #1E1E1E;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }

                &-bio {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #1E1E1E;
                    line-height: 1.8;
                    margin-top: 2rem;

                    br {
                        display: none;
                    }
                }

                &-button {
                    margin-top: 1.2rem;
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                }
            }
        }

        &__philosophy {
            visibility: hidden;
            margin-top: 4rem;
            margin-bottom: -75rem;

            &--image {
                position: relative;
                max-width: 100%;
            }

            &--content {
                position: relative;
                bottom: 23rem;
                // margin-left: 26rem;

                &-heading {
                    margin-left: -1rem;
                    color: $color-primary;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 3;
                }

                &-list {

                    &--item {
                        color: $color-secondary;
                        font-size: 1.1rem;
                        font-family: 'Source Sans Pro', sans-serif;
                    }
                }
            }


        }

    }

    .box {
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 2rem;
        width: 21rem;
        height: 43rem;
        position: relative;
        top: 41rem;

        &__image {
            margin-top: 4rem;
            margin-left: 5rem;

            &--image {
                max-width: 65%;
            }
        }

        &__content {
            // margin-top: 4rem;
            // margin-right: 7rem;

            &--heading {
                margin-top: 2rem;
                text-align: center;
                color: $color-secondary;
                font-size: 1.7rem;
            }

            &--text {
                text-align: center;
                padding: 1rem;
                color: $color-secondary;
                margin-top: 1rem;
                line-height: 2;
            }

            &--button {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 1rem;

                &--image {
                    max-width: 60%;
                    padding-bottom: 1rem;
                }
            }
        }
    }



    .footer {
        background-color: $color-footer;
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        margin-top: 13rem;

        &__logo {
            text-align: center;
            margin-top: 30rem;
            margin-bottom: 3rem;

            &--logo {
                max-width: 50%;
                // margin-bottom: 2rem;
            }

            &--copyright {
                color: $color-secondary;
                opacity: 0.5;
                line-height: 3;
            }

            &--terms {
                color: $color-secondary;
                opacity: 0.5;
                // font-style: .8rem;
            }
        }

        &__company {
            text-align: center;
            // margin-top: 16.5rem;
            // margin-left: 3rem;

            &--company {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--link {
                text-decoration: none;
            }

            &--text {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

        }

        &__intouch {
            text-align: center;
            margin-top: 1rem;
            // margin-left: 10rem;

            &--heading {
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            &--enquiry {
                color: $color-secondary;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

            &--email {
                color: $color-secondary;
                margin-bottom: 2rem;
            }

            &--socials {

                & > a {
                    text-decoration: none;
                }

                &-image {
                    max-width: 15%;
                }

                &-twitter {
                    margin-left: 1rem;
                }

                &-instagram {
                    margin-left: 1rem;
                }
            }
        }
    }
}