@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    /* This defines what 1rem should be */
    // font-size: 62.5%;
}
body {
    font-family: 'PT Sans', sans-serif;
    // font-weight: 400;
    // line-height: 1.7;
    // color: gray;
    // padding: 3rem;
    box-sizing: border-box;
}


$color-primary: #F5444F;
$color-secondary: #ffffff;
$color-tertiary: #CBF7F0;
$color-footer: #1B1B1B;



.home {

    .navigation {
        display: flex;
        position: relative;

        &__image {
            max-width: 100%;
            position: absolute;
            left: 29.6rem;
            z-index: -1;
        }
    

        &__logo {
            margin-top: .5rem;
            // max-width: 20%;
            margin-left: 4rem;
        }

        &__list {
            margin-top: 3.5rem;
            margin-left: 27.9rem;
            display: flex;
            justify-content: space-between;
        }

        &__item {
            list-style: none;
        }

        &__link {
            &:link,
            &:visited {
                text-decoration: none;
                padding-left: 2rem;
                color: $color-primary;
            }
        }
    }

    .banner {
        margin-top: 2rem;

        &__image {
            position: relative;
            max-width: 100%;
        }

        &__button {
            cursor: pointer;
            position: absolute;
            right: 33.7rem;
            bottom: 4rem;
        }
    }
}

.team {


    &__member {
        display: flex;
        margin-left: 5rem;


        &--image {
            max-width: 50%;
            padding-right: 4rem;
        }


        &--content {
            margin-left: 1rem;
            margin-top: 6.5rem;
            margin-right: 2rem;


            &-meet {
                font-family: 'Source Sans Pro', sans-serif;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-name {
                font-family: 'Libre Baskerville', serif;
                color: #1E1E1E;
                font-weight: 400;
                margin-top: 1.5rem;
            }

            &-bio {
                font-family: 'Source Sans Pro', sans-serif;
                color: #1E1E1E;
                line-height: 1.8;
                margin-top: 2rem;
            }

            &-button {
                margin-top: 1.2rem;
                cursor: pointer;
            }
        }
    }


    &__member {
        display: flex;
        margin-left: 5rem;


        
        &--terry {
            margin-top: 9rem;


            &-meet {
                font-family: 'Source Sans Pro', sans-serif;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-name {
                font-family: 'Libre Baskerville', serif;
                color: #1E1E1E;
                font-weight: 400;
                margin-top: 1.5rem;
            }

            &-bio {
                font-family: 'Source Sans Pro', sans-serif;
                color: #1E1E1E;
                line-height: 1.8;
                margin-top: 2rem;
            }

            &-button {
                margin-top: 1.2rem;
                cursor: pointer;
            }

            &-image {
                margin-top: 3rem;
                width: 50%;
                margin-right: 3rem;
                padding-left: 4rem;
            }

        }

    }

    &__mission {
        margin-top: 5rem;

        &--image {
            max-width: 100%;
            position: relative;
        }

        &--content {
            position: relative;
            top: -20rem;
            // left: 35rem;

            &-text {
                margin-top: -1rem;
                text-align: center;
                line-height: 2;
                font-size: 1.5rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-description {
                margin-top: 1rem;
                color: $color-secondary;
                text-align: center;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
    }

    &__alcy {
        display: flex;
        margin-left: 5rem;
        margin-top: -6rem;

        &--image {
            max-width: 50%;
            padding-right: 3rem;
        }


        &--content {
            margin-left: 1rem;
            margin-top: 6.5rem;
            margin-right: 2rem;


            &-meet {
                font-family: 'Source Sans Pro', sans-serif;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-name {
                font-family: 'Libre Baskerville', serif;
                color: #1E1E1E;
                font-weight: 400;
                margin-top: 1.5rem;
            }

            &-bio {
                font-family: 'Source Sans Pro', sans-serif;
                color: #1E1E1E;
                line-height: 1.8;
                margin-top: 2rem;
            }

            &-button {
                margin-top: 1.2rem;
                cursor: pointer;
            }
        }
    }

    
    &__member {
        display: flex;
        margin-left: 5rem;


        
        &--erin {
            margin-top: 11rem;


            &-meet {
                font-family: 'Source Sans Pro', sans-serif;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-name {
                font-family: 'Libre Baskerville', serif;
                color: #1E1E1E;
                font-weight: 400;
                margin-top: 1.5rem;
            }

            &-bio {
                font-family: 'Source Sans Pro', sans-serif;
                color: #1E1E1E;
                line-height: 1.8;
                margin-top: 2rem;

                span {
                    font-style: italic;
                }
            }

            &-button {
                margin-top: 1.2rem;
                cursor: pointer;
            }

            &-image {
                margin-top: 6rem;
                width: 50%;
                margin-right: 3rem;
                padding-left: 4rem;
            }

        }

    }

    
    &__deborah {
        display: flex;
        margin-left: 5rem;
        margin-top: 6rem;

        &--image {
            width: 50%;
            // max-width: ;
            padding-right: 4.5rem;
        }


        &--content {
            // margin-left: 1rem;
            margin-top: 6.5rem;
            margin-right: 5rem;


            &-meet {
                font-family: 'Source Sans Pro', sans-serif;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-name {
                font-family: 'Libre Baskerville', serif;
                color: #1E1E1E;
                font-weight: 400;
                margin-top: 1.5rem;
            }

            &-bio {
                font-family: 'Source Sans Pro', sans-serif;
                color: #1E1E1E;
                line-height: 1.8;
                margin-top: 2rem;
            }

            &-button {
                margin-top: 1.2rem;
                cursor: pointer;
            }
        }
    }

    &__philosophy {
        margin-top: 4rem;
        margin-bottom: -75rem;

        &--image {
            position: relative;
            max-width: 100%;
        }

        &--content {
            position: relative;
            bottom: 23rem;
            margin-left: 26rem;

            &-heading {
                margin-left: -1rem;
                color: $color-secondary;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 3;
            }

            &-list {

                &--item {
                    color: $color-secondary;
                    font-size: 1.1rem;
                    font-family: 'Source Sans Pro', sans-serif;
                }
            }
        }


    }

}

.box {
    background-color: $color-primary;
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 2rem;
    height: 23rem;
    position: relative;
    z-index: 1;
    top: 60rem;

    &__image {
        margin-top: 4rem;
        margin-left: 10rem;

        &--image {
            max-width: 65%;
        }
    }

    &__content {
        margin-top: 4rem;
        margin-right: 7rem;

        &--heading {
            color: $color-secondary;
            font-size: 1.7rem;
        }

        &--text {
            color: $color-secondary;
            margin-top: 2rem;
            line-height: 2;
        }

        &--button {
            display: flex;
            margin-right: 2rem;
            margin-top: 3rem;

            &--image {
                max-width: 60%;
            }
        }

        &--link:last-child {
            margin-left: -5rem;
        }
    }
}


.footer {
    position: relative;
    bottom: -48rem;
    margin: 0 !important;
    background-color: $color-footer;
    display: flex;

    &__logo {
        margin-top: 13rem;
        margin-bottom: 7rem;
        margin-left: 8rem;

        &--logo {
            max-width: 50%;
            margin-bottom: 2rem;
        }

        &--copyright {
            color: $color-secondary;
            opacity: 0.5;
            line-height: 3;
        }

        &--terms {
            color: $color-secondary;
            opacity: 0.5;
            // font-style: .8rem;
        }
    }

    &__company {
        margin-top: 15rem;
        margin-left: 3rem;

        &--company {
            color: $color-secondary;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--link {
            text-decoration: none;
        }

        &--text {
            color: $color-secondary;
            opacity: 0.5;
            margin-bottom: 2rem;
        }

    }

    &__intouch {
        margin-top: 15rem;
        margin-left: 10rem;

        &--heading {
            color: $color-secondary;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--enquiry {
            color: $color-secondary;
            opacity: 0.5;
            margin-bottom: 2rem;
        }

        &--email {
            color: $color-secondary;
            margin-bottom: 2rem;
        }

        &--socials {

            & > a {
                text-decoration: none;
            }

            &-image {
                max-width: 15%;
            }

            &-twitter {
                margin-left: 1rem;
            }

            &-instagram {
                margin-left: 1rem;
            }
        }
    }
}